/* restyle radio items */
.radio-group-60px .form-check {
  padding-left: 0;
}

.radio-group-60px .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group-60px .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.radio-group-responsive .btn-group > .form-check > .btn {
  width: 100%; /* Default to 100% of the container width */
}

@media (min-width: 1200px) {
  .radio-group-responsive .btn-group > .form-check > .btn {
    width: 60px; /* 60px width for large screens */
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .radio-group-responsive .btn-group > .form-check > .btn {
    width: 45px; /* Adjust width for medium screens */
  }
}

@media (max-width: 767px) {
  .radio-group-responsive .btn-group > .form-check > .btn {
    width: 30px; /* Adjust width for small screens */
  }
}